<html>
    <head>
		<!-- Support for iOS device sizes. -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />

		<title>GET to POST</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" />

		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#form").submit();
			});
		</script>
    </head>

	<body>
		<div id="title-bar"><div id="title">GET to POST</div></div>

		<div id="content">
			{% if not url or not fields %}
            <div class="messages">
                {% if not url %}
                <p>Error: No URL supplied. Unable to issue POST request.</p>
                {% else %}
                <p>Error: No GET parameters supplied. Unable to issue POST request.</p>
                {% endif %}
            </div>

            <p>Append the target URL to address bar and supply any data to be posted.</p>

            <p class="code">http://THIS.SERVER.URL/TARGET.URL/?ARG1=VAL1&amp;ARG2=VAL2</p>
			{% else %}
            <p>Issuing POST request to {{ url }}...</p>
            <form action={{ url }} method="POST" id="form">
                {{ form.hidden_tag() }}
            </form>
			{% endif %}
		</div>
	</body>
</html>
